
@font-face {
    font-family: 'Futura Bold BT';
    src: url('../font/Futura Bold BT.ttf');
}
body {
    width: 1280px;
    height: 1024px;
    margin: auto;
    background: #000;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1024px;
    z-index: 5000;
    display: none;
    cursor: not-allowed;
}

.choose_target {
    position: absolute;
    top: 0;
    width: 1280px;
    height: 1024px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#stage {
    width: 100%;
    height: 0;
    position: relative;
    top: 300px;
    -webkit-perspective: 1000px;
}

#container {
    width: 72px;
    height: 128px;
    -webkit-transition: -webkit-transform 1s;  
    transition: transform 1s;  
    -webkit-transform-style: preserve-3d;  
    position: absolute;  
    left: 50%;
    /*background: red;*/
    
    padding-left: 0;
}

.confirm_box {
    width: 380px;
    height: 125px;
    background: #1E3D48;
    border: 1px solid #3498DB;
    position: absolute;
    top: 50px;
    left: calc(50% - 190px);
    display: none;
}
.confirm_box button {
    color: #fff;
    width: 80px;
    height: 35px;
    background: #20404A;
    border: 1px solid #3498DB;
    border-radius: 5px;
    margin: 45px 18px;
    cursor: pointer;
}

.left_turn {
    position: absolute;
    top: 330px;
    left: 220px;
    width: 400px;
    height: 230px;
    /*background: red;*/
    z-index: 1000;
}
.right_turn {
    position: absolute;
    top: 330px;
    left: 730px;
    width: 400px;
    height: 230px;
    /*background: red;*/
    z-index: 1000;
}

.one {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    list-style: none;
}

.one img {
    width: 72px;
    border: 1px solid #3498DB;
    box-shadow: 0px 1px 3px #3498DB;
}

.one:nth-child(1)  
{  
    -webkit-transform: rotateY(0deg) translateZ(400px);  
}  
  
.one:nth-child(2)  
{  
    -webkit-transform: rotateY(30deg) translateZ(400px);  
}  
  
.one:nth-child(3)  
{  
    -webkit-transform: rotateY(60deg) translateZ(400px);  
}  
  
.one:nth-child(4)  
{  
    -webkit-transform: rotateY(90deg) translateZ(400px);  
}  
.one:nth-child(5)  
{  
    -webkit-transform: rotateY(120deg) translateZ(400px);  
}
.one:nth-child(6)  
{  
    -webkit-transform: rotateY(150deg) translateZ(400px);  
}
.one:nth-child(7)  
{  
    -webkit-transform: rotateY(120deg) translateZ(400px);  
}
.one:nth-child(7)  
{  
    -webkit-transform: rotateY(140deg) translateZ(400px);  
}

/*********************************************************************
**********************************************************************
**********************************************************************/

.nav {
    width: 100%;
    height: 30px;
    background: #062331;
    background-image: url('../imgs/realtime_fun.png');
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav ul li {
    width: 640px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    font-size: 18px;
    font-family: 'Micrsoft Yahei';
    color: #2980b9;
    cursor: pointer;
}

.head {
    width: 100%;
    height: 40px;
    background: #2980B9;
}

.head .logo {
    width: 47px;
    height: 31px;
    margin: 6px 0 3px 62px;
    float: left;
}
.head .product_name {
    color: #ecf0f1;
    font-family: "Microsodt YaHei, Adobe 黑体 Std";
    font-size: 20px;
    font-weight: bolder;
    height: 31px;
    line-height: 31px;
    float: left;
    margin: 6px 0 3px 10px;
    text-align: center;
}

.main_container {
    position: relative;
    width: 1280px;
    height: 954px;
}

.realtime_monitor {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../imgs/bg.png');
    
    display: block;
}

.track_target_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 82px;
    height: auto; 
    /*background: red;*/
    background: url('../imgs/result_bg.png');
}

.track_target_container .track_target_head {
    height: 82px;
    width: 55px;
    line-height: 40px;
    text-align: center;
    float: left;
    font-size: 20px;
    background: rgb(41, 128, 185);
    color: #ecf0f1;
    font-family: 'Heiti, Microsoft YaHei, Adobe 黑体 Std';
}
.track_target_container .track_target_list {
    float: left;
}

.one_track_target {
    float: left;
    margin: 0 40px;
    height: 80px;
}
.one_track_target .one_track_img {
    height: 80px;
    position: absolute;
    bottom: 0;
    
    border: 1px solid #3498DB;
    transition: height 300ms, width 300ms;
}
.one_track_target .one_track_img:hover {
    height: 144px;
    width: auto;
}

.mulmonitor_container {
    width: 1280px;
    margin-top: 16px;
}

.onemonitor, 
.camera_wrap_small {
    position: relative;
    width: 640px;
    height: 398px;
    float: left;
    background: url('../imgs/small_wrap.png');
    background-repeat: no-repeat;
    background-position: 4px 4px;
    margin-bottom: 30px;
    /*transform: scale(1.3)*/
}

.html5_realmonitor,
.camera_wrap_small .html5_video{
    width: 606px;
    height: 342px;
    
    margin: 12px 17px 0 17px;
}

.real_tooltip, 
.camera_wrap_small .tooltip {
    width: 606px;
    height: 23px;
    background: url('../imgs/mask.png');
    
    margin: 7px 17px;
}

.controllor {
    float: left;
    height: 23px;
    line-height: 23px;
    
    font-family: 'DS-Digital';
    font-size: 18.7px;
    color: #F1E75B;
    text-align: center;
}

.monitorid,
.camera_wrap_small .cameraid {
    width: 56px;
    margin: 0 10px;
}

.monitor_statu {
    width: 23px;
    height: 23px;
    background: url('../imgs/statu_got.png');
}

.monitor_capture {
    width: 133px;
    height: 21px;
    line-height: 21px;
    color: #ecf0f1;
    font-size: 19.7px;
    font-family: 'Futura Bold BT';
    background: #c1524f;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
    margin: 0 auto 0 130px;
}

.monitor_mixum,
.camera_wrap_small .maxum {
    width: 14px;
    height: 13px;
    margin: 5px 10px;
    float: right;
    
    cursor: pointer;
    background: url('../imgs/maxum.png');
    background-size: 14px 13px;
}

.monitor_data,
.camera_wrap_small .time {
    width: 148px;
    line-height: 23px;
    float: right;
}

/******************************************************************/

.detail_page {
    position: absolute;
    top: 0;
    width: 1280px;
    height: 100%;
    z-index: 1;
    display: none;
}
.detail_page .target_img {
    position: absolute;
    top: 120px;
    left: 50px;
    width: 96px;
    height: auto;
    border: 1px solid #3498DB;
}

.detail_page .camera_container {
    width: 100%;
    height: 610px;
    background: url('../imgs/bg.png');
    position: relative;
    background-size: 1280px 610px;
}

.camera_wrap_detail {
    width: 836px;
    height: 520px;
    position: absolute;
    top: 20px;
    left: 217px;
    background: url('../imgs/camera_wrap.png');
}
.camera_wrap_small {
    position: absolute !important;
}

.camera_wrap_detail .html5_video {
    width: 816px;
    height: 460px;
    margin: 10px;
}



.camera_wrap_small.camera_wrap_1 {
    top: 16px;
    left: 0px;
    /*display: none;*/
}
.camera_wrap_small.camera_wrap_2 {
    top: 16px;
    left: 640px;
}
.camera_wrap_small.camera_wrap_3 {
    top: 444px;
    left: 0;
}
.camera_wrap_small.camera_wrap_4 {
    top: 444px;
    left: 640px;
}

.camera_wrap_detail .tooltip {
    width: 816px;
    height: 30px;
    background: url('../imgs/mask.png');
    margin: 0 10px 10px 10px;
}

.camera_wrap_detail .controllor {
    float: left;
}

.camera_wrap_detail .cameraid {
    width: 70px;
    height: 30px;
    line-height: 30px;
    
    margin: 0 12px;
    font-family: 'DS-Digital';
    color: #F1E75B;
    font-size: 26px;    
}
.camera_wrap_small .cameraid {
    margin-right: 0 !important;
}

.camera_wrap_detail .play_pause {
    width: 12px;
    height: 12px;
    margin: 9px 6px;
    background: url('../imgs/play.png');
    background-size: 12px 12px;
    cursor: pointer;
}
.camera_wrap_small .play_pause {
    width: 9px;
    height: 9px;
    margin: 7px 6px;
    background: url('../imgs/play.png');
    background-size: 9px 9px !important;
    cursor: pointer;
    /*transform: scale(0.765);*/
}
.camera_wrap .tooltip .pause {
    background: url('../imgs/play.png');
}
.camera_wrap .tooltip .play {
    background: url('../imgs/pause.png');
}


.camera_wrap_detail .stop {
    width: 12px;
    height: 12px;
    margin: 9px 6px;
    background: url('../imgs/stop.png');
    background-size: 12px 12px;
    cursor: pointer;
}
.camera_wrap_small .stop {
    width: 9px;
    height: 9px;
    margin: 7px 6px;
    background: url('../imgs/stop.png');
    background-size: 9px 9px !important;
    cursor: pointer;
}

.camera_wrap_detail .speedup {
    width: 17px;
    height: 12px;
    margin: 9px 6px;
    background: url('../imgs/speedup.png');
    background-size: 17px 12px;
    cursor: pointer;
}
.camera_wrap_small .speedup {
    width: 13px;
    height: 9px;
    margin: 7px 6px;
    background: url('../imgs/speedup.png');
    background-size: 13px 9px !important;
    cursor: pointer;
}


.camera_wrap_detail .progress_bar {
    width: 458px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 20;
}
.camera_wrap_small .progress_bar {
    width: 280px;
    height: 23px;
    position: relative;
    cursor: pointer;
    z-index: 20;
}

.camera_wrap .process_canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.camera_wrap_detail .process_canvas {
    width: 458px;
    height: 30px;
}
.camera_wrap_small .process_canvas {
    width: 280px;
    height: 23px;
}

.camera_wrap .track_unit .track_one {
    position: absolute;
    background: red;
}
.camera_wrap .track_unit {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.camera_wrap .process_area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
}
.camera_wrap_detail .track_unit,
.camera_wrap_detail .process_area {
    width: 458px;
    height: 30px;
}
.camera_wrap_small .track_unit,
.camera_wrap_small .process_area {
    width: 280px;
    height: 23px;
}

.camera_wrap_detail .progress_bar .tol_process {
    width: 458px;
    height: 6px;
    margin: 11px 0;
    border: 1px solid #9DDFF7;
    border-radius: 5px;
    display: block;
    background: rgb(236, 240, 241);
    z-index: 0;
}
.camera_wrap_small .progress_bar .tol_process {
    width: 280px;
    height: 3px;
    margin: 9px 0;
    border: 1px solid #9DDFF7;
    border-radius: 5px;
    display: block;
    background: rgb(236, 240, 241);
    z-index: 0;
}

.camera_wrap_detail .progress_bar .curr_process  {
    position: absolute;
    top: 11px;
    left: 0;
    height: 6px;
    width: 0;
    border-radius: 5px;
    display: block;
    background: #BEE9F9;
    border: 1px solid #9DDFF7;
    z-index: 1;
}
.camera_wrap_small .progress_bar .curr_process {
    position: absolute;
    top: 9px;
    left: 0;
    height: 3px;
    width: 0;
    border-radius: 5px;
    display: block;
    background: #BEE9F9;
    border: 1px solid #9DDFF7;
    z-index: 1;
}


.camera_wrap_detail .progress_bar .track_point {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 7px;
    left: -8px;
    border: 1px solid #9DDFF7;
    border-radius: 14px;
    background: #F1FAFF;
    z-index: 10;
}
.camera_wrap_small .progress_bar .track_point {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    left: -6px;
    border: 1px solid #9DDFF7;
    border-radius: 14px;
    background: #F1FAFF;
    z-index: 10;
}

.camera_wrap_detail .maxum {
    width: 17px;
    height: 16px;
    margin: 7px 12px;
    
    background: url('../imgs/maxum.png');
    background-size: 17px 16px;
    float: right;
    cursor: pointer;
}
.camera_wrap_detail .time {
    font-family: 'DS-Digital';
    font-size: 18px; 
    color: #F1E75B;
    line-height: 30px;
    float: right;
    margin-top: 1px;
}

.camera_container .tips_detail {
    width: 327px;
    height: 44px;
    position: absolute;
    left: 480px;
    bottom: 18px;
    display: none;
}
.camera_container .tips_small {
    width: 133px;
    height: 21px;
    position: absolute;
    display: block;
}

.tips_detail .anly_block,
.tips_detail .capture {
    width: 327px;
    height: 44px;
    display: none;
}
.tips_small .anly_block,
.tips_small .capture {
    width: 133px;
    height: 21px;
    display: none;
}

.tips_detail .anly_block {
    display: none;
}

.tips_detail .capture {
    display: block;
}
.tips_small .capture {
    display: block;
}

.tips_detail .anly_block *,
.tips_detail .capture *,
.tips_small .anly_block *,
.tips_small .capture * {
    position: absolute;
    top: 0;
}

.tips_detail .anly_block .k_left {
    left: 0;
}
.tips_detail .anly_block .k_right {
    left: 316px;
}
.tips_detail .anly_block .anly,
.tips_detail .capture .capt {
    left: 6px;
    top: 4px;
    width: 315px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: rgb(236, 240, 241);
    font-size: 24px;
    /*letter-spacing: 10px;*/
    
    background: rgba(231, 76, 60, 0.8);
    font-family: 'SimHei', 'Microsoft YaHei';
    display: block;
    
    transition: color 1s, background 1s;
}
.tips_detail .capture .capt {
    cursor: pointer;
}
.tips_small .anly_block .anly,
.tips_small .capture .capt {
    width: 133px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: rgb(236, 240, 241);
    font-size: 18px;
    /*letter-spacing: 2px;*/
    cursor: pointer;
    background: rgba(231, 76, 60, 0.8);
    font-family: 'SimHei', 'Microsoft YaHei';
}

.tips_small.tips_1 {
    left: 250px;
    top: 415px;
}
.tips_small.tips_2 {
    left: 890px;
    top: 415px;
}
.tips_small.tips_3 {
    left: 250px;
    top: 845px;
}
.tips_small.tips_4 {
    left: 890px;
    top: 845px;
}


.analyzing {
    display: none;
}


.detail_page .result_container {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

.result_head {
    width: 100%;
    height: 40px;
    background: #2980B9;
    line-height: 40px;
    font-size: 20px;
    color: #2c3e50;
    font-family: 'Heiti, Microsoft YaHei, Adobe 黑体 Std';
    text-align: center;
    font-weight: bolder;
    letter-spacing: 20px;
}

.choose_camera {
    width: 100%;
    height: 64px;
    background: #062332;
}

.choose_camera ul {
    padding: 10px 32px;
    margin: 0;
    list-style: none;
    float: left;
}

.choose_camera ul .one_camera {
    width: 74px;
    height: 38px;
    float: left;
    margin-right: 14px;
    background-repeat: no-repeat;
    cursor: pointer;
}


.choose_camera .one_camera_0 {
    background: url('../imgs/f_000.png');   
}
.choose_camera .one_camera_1 {
    background: url('../imgs/unf_001.png');
}
.choose_camera .one_camera_2 {
    background: url('../imgs/unf_002.png');   
}
.choose_camera .one_camera_3 {
    background: url('../imgs/unf_003.png');
}
.choose_camera .one_camera_4 {
    background: url('../imgs/unf_004.png');
}

.choose_camera .one_camera_1 span{
    /*background: url('../imgs/focus_001.png');*/
    border: none;
}
/*********************************************/
.result_window {
    width: 100%;
    height: 240px;
    background: url('../imgs/result_bg.png');
    top: 0;
}

.result_window_0 {
    display: block;
}
.result_window_1 {
    display: none;
}
.result_window_2 {
    display: none;
}
.result_window_3 {
    display: none;
}
.result_window_4 {
    display: none;
}

.result_window .result_list {
    position: relative;
    padding: 11px 12px;
    height: 218px;
    width: auto;
    min-width: 3000px;
    /*background: red;*/
    float: left;
    
    transform: translate3d(0px, 0px, 0px);
}

.result_list .result_item {
    float: left;
    margin: 0 23px;
    width: 335px;
    height: 218px;
    
}

.result_list .result_mask {
    width: 335px;
    height: 192px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.result_list .result_img {
    width: 331px;
    height: 186px;
    border: 2px solid #3498DB;
    z-index: 0;
    /*display: none;*/
}

.result_list .attach {
    width: 100%;
    height: 16px;
}

.result_list .attach .att {
    display: block;
    width: 226px;
    height: 6px;
    margin: 5px 0;
    background: url('../imgs/attach.png');;
}


/*:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
:-moz-full-screen video{
    width: 100%;
    height: 100%;
}*/